# Local docs
.local/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Reports
reports/

# Jupyter
.ipynb_checkpoints/

dataxid_dev_env/
__pycache__/
*.pyc
*.egg-info/
build/
dist/